{% extends 'base.html' %}

{% block js %}
<script type='text/javascript' src='/site_media/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endblock %}

{% block content %}

<h1>Archive: <a href="{{room.get_absolute_url}}">{{room.title}}</a></h1>


{% for date in room.unique_dates %}
{% ifchanged date.year %}
<div class="row year-row pull-right">{{date.year}}</div>
{% endifchanged %}
{% ifchanged date.month %}
<div class="row month-row">{{date|date:"M"}}</div>
{% endifchanged %}
<div class="row">
	<a href="{{date.year}}-{{date.month}}-{{date.day}}/">{{ date|date:"M d" }}</a></div>
{% endfor %}



{% endblock %}
