{% extends 'base.html' %}

{% block js %}
<script type='text/javascript' src='/site_media/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endblock %}

{% block content %}

<h1>Archive for {{date.date}}: <a href="{{room.get_absolute_url}}">{{room.title}}</a></h1>

<div id="log">
{% for message in messages %}
<div class="row" id="message-{{message.id}}">
	<div class="span1 timestamp"><a href="{{message.get_absolute_url}}">{{message.added|date:"H:i"}}</a></div>
	<div class="span2 nick">&lt;{{message.user.username}}&gt;</div>
	<div class="span5 ircmessage">{{message.text}}</div>
</div>
{% endfor %}
</div>



{% endblock %}
