{% extends 'base.html' %}
{% load compress %}

{% block js %}
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
// make some basics available to javascript
window.room_id = {{room.id}};
window.username = '{{request.user.username}}';
window.fresh_token_url = '/room/{{room.id}}/fresh_token/';
window.token = '{{token}}';
window.websockets_base = '{{websockets_base}}';
</script>
{% compress js %}
<script src="{{STATIC_URL}}js/irc.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}

<h1>{{room.title}}</h1>
<p><a href="archive/">Archive</a></p>

<div id="log">
{% for message in room.recent_messages %}
<div class="row">
	<div class="span1 timestamp">{{message.added|date:"H:i"}}</div>
	<div class="span2 nick">&lt;{{message.user.username}}&gt;</div>
	<div class="span5 ircmessage">{{message.text}}</div>
</div>
{% endfor %}
</div>



<form id="msg_form" class="form-inline post-form">
<input id="text-input" size="80" type="text" name="text" class="input-xxlarge">
<input type="submit" class="btn" value="Post" />
</form>


{% endblock %}
